#customebg-color {
  background-color: #F1F2F4;
  border-radius: 8px;
}

.deleteBox {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.deleteBox .Polaris-Icon {
  padding: 0;
  margin: 0px 5px;
}

#profileBox-bottom-space {
  margin-bottom: 20px;
}