#action-box {
    width: fit-content;
    cursor: pointer;
}

.noteTitle {
    color: #e04848;
}

.Polaris-IndexTable__TableCell #noteTitle {
    max-width: 300px;
    overflow: hidden;
}

.viewModal_title {
    max-width: 552px;
    white-space: nowrap;
    overflow: hidden;
    /* text-overflow: ellipsis; */
}

.data_desc {
    word-break: break-all;
}

#main-note-box {
    min-height: 100px;
}

.dawn_Modal_title {
    word-break: break-all;
}