#link_login_register {
    color: #007bff;
    cursor: pointer;
    margin-top: 6px;
}

.page-login-wrap {
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.page-login-wrap .Polaris-Page {
    max-width: 480px;
    width: 100%;
}
