
#link_login_register {
  color: #007bff;
  cursor: pointer;
  margin-top: 6px;
}

.page-login-wrap {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background : url('./containers/App/Assets/img/pro_blur.png')
}

.page-login-wrap .Polaris-Page {
  max-width: 480px;
  width: 100%;
}

.Polaris-TopBar__Logo {
  height: 35px;
}

.Polaris-Button--variantTertiary {
  background: var(--pc-button-bg_hover) !important;
}

/* on show new screen after one, set effect */
.sidebar-animie {
  animation: sidebarEffect 0.3s ease-in-out;
}

@keyframes sidebarEffect {
  from {
    opacity: 0;
    transform: translateX(0);
  }

  to {
    opacity: 1;
    transform: translateX(-10px);
  }
}