#Add {
  background-color: #29845a;
  color: white;
}

#tit {
  overflow: hidden;
  white-space: nowrap;
}

#des {
  overflow: hidden;
  white-space: nowrap;
}

#view_banner .Polaris-Banner:hover {
  cursor: pointer;
  background-color: #cdfed4;
}

#edit_banner .Polaris-Banner:hover {
  cursor: pointer;
  background-color: #fff1e3;
}

#delete_banner .Polaris-Banner:hover {
  cursor: pointer;
  background-color: #fee8eb;
}

#search_feild {
  width: 250px;
}

.searchBar .Polaris-TextField {
  height: 28px;
}

.data_desc {
  word-break: break-all;
}